// Copyright 2024 Brad Soellner
// SPDX-License-Identifier: Apache-2.0

.modal {
	position: absolute;
	inset: 0;
	z-index: 99999;

	display: flex;
	justify-content: center;

	&.bkg {
		background-color: rgba(black, 0.5);
	}
	& .box {
		align-self: center;

		display: flex;
		flex-direction: column;
	}
}
